/* .chat {
    background-color: #cdd1d1;
    margin: 1rem;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    z-index: 900;
    overflow: auto;
    height: 50%;
    width: 20rem;
    display: flex;
    flex-direction: column-reverse;
  }
   */