.login-form {
  width: 25rem;
  position: fixed;
  left: 33%;
  top: 12rem;
  padding: 2rem 5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 9px #8080808c;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 15rem;
    position: fixed;
    left: 20%;
    top: 8rem;
    padding: 2rem 1rem;
  }
}
